body{
    padding: 0;
    margin: 0;
    background-color: #27272B;
    font-family: Arial;
}
header{
    background-color: #DC3318;
}
a{
    color: black;
    font-size: larger;
    margin-left: 2vw;
}
a:hover{
    color: rgb(0, 132, 255);
}
.div{
    background-color: #F6F7EB;
    border: 3px solid black;
    box-shadow: 0vw 0vw 1vw black;
    margin: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
}