body{
    padding: 0;
    margin: 0;
    background-color: #27272B;
    font-family: Arial;
}
.dropdown {
    float: left;
    background-color: #F6F7EB;
    height: 100%;
    border-radius: 0.1vw;
  }
  .dropdown-title{
    font-family: Arial;
    font-weight: bolder;
    font-size: 1.75em;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F6F7EB;
    padding-right: 15px;
    outline: solid black;
    box-shadow: 0px 0px 20px black;
    border-radius: 0.1vw;
    font-size: 0.8em;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
a{
    color: black;
    font-size: 1.75em;
    margin-left: 2vw;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 132, 255);
}
.link{
    text-decoration: underline;
}
.div{
    background-color: #F6F7EB;
    border: 3px solid black;
    box-shadow: 0vw 0vw 1vw black;
    margin: 1.5vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.backtotop{
    float: right;
    font-weight: bolder;
    font-size: 0.7em;
    margin-right: 2vw;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: #DC3318;
}
#trocarvariaveis{
    margin-top: 50px;
}

@media(max-width:680px){
    .sticky{
        height: 60px;
    }
}
@media(max-width:520px){
    .dropdown{
        height: 30px;
    }
    .sticky{
        height: 65px;
    }
}
@media(max-width:331px){
    .sticky{
        height: 85px;
    }
}
@media(max-width:320px){
    .sticky{
        height: 100px;
    }
}
@media(max-width:307px){
    .sticky{
        height: 120px;
    }
}
@media(max-width:154px){
    .sticky{
        height: 150px;
    }
}