body{
    padding: 0;
    margin: 0;
    background-color: rgb(39, 39, 39);
    font-family: Arial;
}
header{
    background-color:deepskyblue;
}
a{
    color: black;
}
.div{
    background-color: antiquewhite;
    border: 3px solid black;
    margin: 1vw;
}